<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HealthByteApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HealthByteApplication.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
            <div style="display: flex; align-items: center;">
                <img style="width: 80px; height: auto;" src="~/images/logo-green.png" alt="Company Logo" />
                <p style="margin: 0; padding-left: 10px; font-size: 25px;">HealthByte</p>
            </div>
            <!-- Account image as a clickable asset -->
            <a href="/account" style="cursor: pointer;">
                <img src="/images/green-account.jpg" alt="Account" style="width: 60px; height: auto;" />
            </a>
        </div>


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
