<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopSmart Dashboard</title>

    <!-- Importing Montserrat font from Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <link href="~/css/dashstyle.css" rel="stylesheet" />

</head>

<body>


    <div id="sidebar" class="sidebar">
        <span class="closebtn" onclick="closeSidebar()">×</span>
        <a href="@Url.Action("GroceryList", "Home")">Create List</a>
        <a href="#">Saved Lists</a>
        <a href="#">Popular Products</a>
    </div>




    <div class="main-content">
        <button class="toggle-sidebar" onclick="openSidebar()">☰</button>
        <form asp-controller="Product" asp-action="SearchProducts" method="get" class="search-form">
            <input id="searchInput" type="text" name="Name" placeholder="Search Meals..." required class="search-bar">
        </form>

        <div class="dashboard-container">
            <div class="dashboard-item">
                <!-- Content for the first white container -->
                <h2>Dashboard Item 1</h2>
                <p>Details about item 1...</p>
            </div>
            <div class="dashboard-item">
                <!-- Content for the second white container -->
                <h2>Dashboard Item 2</h2>
                <p>Details about item 2...</p>
            </div>
        </div>
    </div>

    <script src="~/js/dashboardscripts.js"> </script>


</body>

</html>
